.header {
	display: flex;
	margin-bottom: 24px;
}
.title {
	white-space: nowrap;
	color: #84bd00;
	font-size: 50px;
	font-family: "Montez", sans-serif;
	margin-right: 114px;
}
.actions {
	display: flex;
	flex-direction: column;
	width: 100%;
}			
.sort {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding-right: 30px;
	gap: 30px;
	margin-bottom: 20px;
}
.select {
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 70px;
	font-size: 20px;
	cursor: pointer;
	border: 2px solid #84bd00;
	box-shadow: 0 0 20px 1px #dddddd;
	background-color: #fff;
	border-radius: 5px;
	padding: 6px 12px;
	transition: all 0.2s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			border: 2px solid #6e9d00;
			background-color: #f9ffec;
		}
	}
	svg {
		transform: rotate(90deg);
		transition: all 0.2s ease 0s;
	}
}
.select_active {
	svg {
		transform: rotate(0deg);
	}
}
.menu {
	position: absolute;
	display: flex;
	box-shadow: 0 0 20px 1px #a1a1a1;
	flex-wrap: wrap;
	top: 110%;
	max-width: 700px;
	justify-content: center;
	width: max-content;
	gap: 14px;
	background-color: #fff;
	border: 1px solid #a5a5a5;
	border-radius: 5px;
	padding: 20px 10px;
	z-index: 10;
	transition: all 0.2s ease 0s;
}
.menu_closed {
	opacity: 0;
	visibility: hidden;
}
.menu_active {
	opacity: 1;
	visibility: visible;
}
.button {
	background-color: #fff;
	font-size: 18px;
	border: 2px solid #84bd00;
	border-radius: 5px;
	white-space: nowrap;
	padding: 4px 8px;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			border: 2px solid #6e9d00;
			background-color: #f9ffec;
		}
	}
}
.selected_filters_count_wrapper {
	display: flex;
	width: 100%;
	gap: 20px;
}
.selected_filters_count_button {
	background-color: #7a7a7a;
	padding: 4px 10px;
	border-radius: 5px;
	font-size: 18px;
	color: #fff;
	display: flex;
	align-items: center;
	gap: 16px;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	transition: all 0.2s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #ababab;
		}
	}
}
.tile_or_row {
	border: 2px solid #84bd00;
	box-shadow: 0 0 20px 1px #dddddd;
	background-color: #fff;
	border-radius: 5px;
	padding: 6px 12px;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: auto;
	svg {
		cursor: pointer;
		height: 26px;
		width: 26px;
	}
}
.tile {
	transition: all 0.2s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			fill: #84bd00;
		}
	}
}
.tile_active {
	fill: #000;
}
.row {
	transition: all 0.2s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			path {
				stroke: #84bd00;
			}
		}
	}
}
.row_active {
	path {
		stroke: #000;
	}
}

