.cart_wrapper {
	position: relative;
}

.counter {
	font-size: 20px;
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	top: -20px;
	right: 10%;
	transform: translateX(50%);
	height: 30px;
	width: 30px;
	position: absolute;
	background-color: #C3DF82;
}

.actions_wrapper {
	display: flex;
	align-items: center;
	gap: 24px;
}